
        .container {
            min-width: 320px;
            margin: 0 auto;
            
        }
        .navbar {
            position: relative;
            background-color: #373c3f;
        }

        .navbar-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }

        .navbar-logo {
            display: none;
        }
        .navbar-nav-name {
            font-family: 'Montserrat', sans-serifsans-serif;
            padding: 9px 0px 10px 19px;
            font-size: 12px;
            color: #fff;
        }

        .nav-btn {
            padding: 10px;
            color: #fff;
            background-color: #000;
        }

        .navbar-nav {
            display: none;
            background-color: #fff;
            position: absolute;
            width: 182px;
            top: 37px;
            right: 0;
        }
        .active {
            display: block;
        }
        .navbar-nav-item {
            display: block;
            color: #444444;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            line-height: 31px;
            cursor: pointer;
            padding-left: 12px;
            text-decoration: none;
            border-bottom: 2px solid #ededed;
        }

        .header {
            background-image: url('../img/img-320.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 173px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
        }
        .header-section {
            padding: 0px 21px;
            box-sizing: border-box;
        }
        .slogan {
            padding-top: 15px;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            
        }
        .sub-slogan {
            color: #fff;
            font-size: 16px;
            line-height: 24px;
        }
        .site-url {
            text-decoration: none;
            color: #a6d6e0;
            font-size: 14px;
            line-height: 27px;
        }
        .submenu {
            margin-top: 4px;
        }
        .submenu-item {
            height: 75px;
            margin-top: 1px;
        }
        .submenu-link {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            margin-bottom: 2px;
            text-decoration: none;
        }

        .submenu-title {
            background-repeat: no-repeat;
            background-size: cover;
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            width: calc(100% - 71px);
            font-size: 20px;
            font-weight: 700;
            line-height: 75px;
            text-align: center;

        }
        .submenu-btn {
            display: flex;
            color: #fff;
            width: 71px;
            height: 75px;
            background-color: #acd8ad;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        .section-pizza {
            background-image: url('../img/prod1-320.jpg');
        }
        .section-salad {
            background-image: url('../img/prod2-320.jpg');
        }
        .section-desserts {
            background-image: url('../img/prod3-320.jpg');
        }
        .menu-header-section {
            padding: 0px 6px 0px 8px;
            box-sizing: border-box;
        }
        .menu-header {
            padding-top: 23px;
            padding-bottom: 10px;
        }
        .menu-header-title {
            color: #3f4043;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            padding-bottom: 3px;
            text-transform: uppercase;
        }
        .menu-header-description {
            color: #cbccce;
            padding-left: 2px;
            font-family: 'Lato', sans-serif;
            font-size: 10px;
        }
        .menu-header-img {
            display: none;
        }
        .pizza-menu-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .menu-list-title {
            padding: 8px 0px 9px 19px;
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            text-transform: uppercase;
            width: 100%;
            box-sizing: border-box;
        }
        .title-green {
            background-color: #acd8ad;
            color: #fff;
            margin-top: 31px;
        }
        .title-black {
            background-color: #373c3f;
            color: #acd8ad;
        }
        .pizza-menu-subtitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 13px 17px 8px 18px;
            box-sizing: border-box;
        }
        .subtitle-text {
            padding-right: 5px;
        }
        .pizza-menu-name {
            color: #3f4043;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            text-transform: uppercase;
        }
        .pizza-menu-icon {
            color: #acd8ad;
            font-size: 25px;
        }
        .pizza {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0px 16px 0px 17px;;
            box-sizing: border-box;
            margin-top: 10px;
        }
        .pizza-name {
            display: flex;
            justify-content: space-between;
        }
        .pizza-title {
            color: #3f4043;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
        }
        .pizza-price {
            color: #3f4043;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
        .pizza-description {
            color: #3f4043;
            font-family: 'Lato', sans-serif;
            font-size: 9px;
            margin-top: 8px;
        }
        .footer {
            background-color: #acd8ad;
            padding-top: 11px;
            padding-bottom: 11px;
            margin-top: 51px;
        }
        .footer-logo {
            display: none;
        }
        .footer-text {
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
        }
        @media (min-width: 640px) {
            .navbar-nav-name {
                padding: 26px 0px 26px 38px;
                font-size: 24px;
            }
            .nav-btn {
                padding: 28px 0px;
                font-size: 24px;
                text-align: center;
                width: 82px;
            }
    
            .navbar-nav-item {
                display: block;
                padding: 10px;
                border: 1px solid grey;
                background-color: aliceblue;
                text-decoration: none;
            }
    
            .header {
                background-image: url('../img/img-640.jpg');
                height: 346px;
            }
            .header-section {
                padding: 0px 38px;
            }
            .slogan {
                padding-top: 30px;
                font-size: 36px;
                font-weight: 700;
                line-height: 38px;
            }
            .sub-slogan {
                font-size: 36px;
                font-weight: 700;
                line-height: 38px;
            }
            .site-url {
                font-size: 24px;
                font-weight: 700;
                line-height: 64px;
            }
            .submenu {
                margin-top: 4px;
            }
            .submenu-item {
                height: 150px;
            }
            .submenu-title {
                width: calc(100% - 142px);
                font-size: 36px;
                font-weight: 700;
                line-height: 150px;
            }
            .submenu-btn {
                width: 142px;
                height: 150px;
                font-size: 36px;
            }
            .section-pizza {
                background-image: url('../img/prod1-640.jpg');
            }
            .section-salad {
                background-image: url('../img/prod2-640.jpg');
            }
            .section-desserts {
                background-image: url('../img/prod3-640.jpg');
            }
            .menu-header-section {
                padding: 0px 15px;
            }
            .menu-header {
                padding-top: 45px;
                padding-bottom: 20px;
            }
            .menu-header-title {
                font-size: 40px;
                padding-bottom: 9px;
            }
            .menu-header-description {
                font-size: 20px;
            }
            .menu-list-title {
                padding: 23px 0px 23px 38px;
                font-size: 40px;
            }
            .title-green {
                margin-top: 40px;
            }
            .pizza-menu-subtitle {
                padding: 39px 37px 14px 37px;
            }
            .subtitle-text {
                padding-right: 5px;
            }
            .pizza-menu-name {
                font-size: 30px;
            }
            .pizza-menu-icon {
                font-size: 49px;
            }
            .pizza {
                padding: 0px 36px;
                margin-top: 22px;
            }
            .pizza-title {
                font-size: 27px;
            }
            .pizza-price {
                font-size: 27px;
            }
            .pizza-description {
                font-size: 18px;
                margin-top: 16px;
            }
            .footer {
                padding-top: 28px;
                padding-bottom: 23px;
                margin-top: 117px;
            }
            .footer-logo {
                display: none;
            }
            .footer-text {
                font-size: 18px;
                line-height: 26px;  
            }
        }
        @media (min-width: 980px) {
            .navbar-content {
                padding: 8px 30px 6px 15px;
            }
            .navbar-logo {
                display: block;
                width: 100px;
            }
            .navbar-nav-name {
                display: none;
            }
            .nav-btn {
                display: none;
            }
            .navbar-nav {
                display: flex;
                width: 100%;
                align-items: center;
                position: relative;
                top: 0px;
            }
            .navbar-nav-item{
                color: #ebebeb;
                font-family:'Montserrat', sans-serif;
                font-size: 15px;
                text-decoration: none;
                border: 0px;
                background-color: #373c3f;
                padding: 15px;
                text-transform: uppercase;
            }
            .header {
                background-image: url('../img/img-980.jpg');
                height: 530px;
            }
            .header-section {
                padding: 0px 30px;
            }
            .slogan {
                padding-top: 64px;
                font-size: 54px;
                line-height: 64px;
            }
            .sub-slogan {
                font-size: 54px;
                line-height: 64px;
            }
            .site-url {
                font-size: 34px;
            }
            .submenu {
                display: flex;
                flex-direction: row;
                margin-top: 6px;
            }
            .submenu-item {
                height: 327px;
                width: 100%;
            }
            .submenu-title {
                font-size: 38px;
                line-height: 327px;
                width: 100%;
            }
            .submenu-btn {
                display: none;
            }
            .section-pizza {
                background-image: url('../img/prod1-980.jpg');
            }
            .section-salad {
                background-image: url('../img/prod2-980.jpg');
            }
            .section-desserts {
                background-image: url('../img/prod3-980.jpg');
            }
            .menu-header-section {
                padding: 0px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .menu-header {
                padding-top: 45px;
                padding-bottom: 20px;
            }
            .menu-header-title {
                font-size: 34px;
                padding-bottom: 10px;
            }
            .menu-header-description {
                font-size: 20px;
            }
            .menu-header-img {
                display: block;
            }
            .menu-section {
                display: flex;
                flex-direction: row;
            }
            .menu-list-title {
                padding: 27px 0px 23px 18px;
                font-size: 34px;
            }
            .title-green {
                margin-top: 0px;
            }
            .pizza-menu-subtitle {
                padding: 39px 37px 14px 37px;
            }
            .subtitle-text {
                padding-right: 5px;
            }
            .pizza-menu-name {
                font-size: 26px;
            }
            .pizza-menu-icon {
                font-size: 42px;
            }
            .pizza {
                padding: 0px 36px;
                margin-top: 22px;
            }
            .pizza-title {
                font-size: 24px;
            }
            .pizza-price {
                font-size: 24px;
            }
            .pizza-description {
                font-size: 16px;
                margin-top: 17px;
            }
            .footer {
                padding-top: 7px;
                padding-bottom: 7px;
                margin-top: 117px;
            }
            .footer-section {
                display: flex;
                justify-content: space-between;
                padding: 0px 30px;
                align-items: center;
            }
            .footer-logo {
                display: block;
            }
            .footer-text {
                display: inline;  
            }
        }

        @media (min-width: 1200px) {
            .navbar-content {
                padding: 8px 30px 6px 15px;
            }
            .navbar-logo {
                display: block;
                width: 100px;
            }
            .navbar-nav-name {
                display: none;
            }
            .nav-btn {
                display: none;
            }
            .navbar-nav {
                display: flex;
                width: 100%;
                align-items: center;
                position: relative;
                top: 0px;
            }
            .navbar-nav-item{
                color: #ebebeb;
                font-family:'Montserrat', sans-serif;
                font-size: 15px;
                text-decoration: none;
                border: 0px;
                background-color: #373c3f;
                padding: 15px;
                text-transform: uppercase;
            }
            .header {
                background-image: url('../img/img-980.jpg');
                height: 530px;
            }
            .header-section {
                padding: 0px 30px;
            }
            .slogan {
                padding-top: 64px;
                font-size: 54px;
                line-height: 64px;
            }
            .sub-slogan {
                font-size: 54px;
                line-height: 64px;
            }
            .site-url {
                font-size: 34px;
            }
            .submenu {
                margin-top: 6px;
            }
            .submenu-item {
                height: 327px;
            }
            .submenu-title {
                font-size: 38px;
                line-height: 327px;
            }

            .section-pizza {
                background-image: url('../img/prod1-1200.jpg');
            }
            .section-salad {
                background-image: url('../img/prod2-1200.jpg');
            }
            .section-desserts {
                background-image: url('../img/prod3-1200.jpg');
            }
            .menu-header-section {
                padding: 0px 30px;
            }
            .menu-header {
                padding-top: 45px;
                padding-bottom: 20px;
            }
            .menu-header-title {
                font-size: 34px;
                padding-bottom: 10px;
            }
            .menu-header-description {
                font-size: 20px;
            }

            .menu-list-title {
                padding: 27px 0px 23px 18px;
                font-size: 34px;
            }
            .title-green {
                margin-top: 0px;
            }
            .pizza-menu-subtitle {
                padding: 39px 37px 14px 37px;
            }
            .subtitle-text {
                padding-right: 5px;
            }
            .pizza-menu-name {
                font-size: 30px;
            }
            .pizza-menu-icon {
                font-size: 48px;
            }
            .pizza {
                padding: 0px 36px;
                margin-top: 22px;
            }
            .pizza-title {
                font-size: 27px;
            }
            .pizza-price {
                font-size: 27px;
            }
            .pizza-description {
                font-size: 18px;
                margin-top: 20px;
            }
        }