body {
    width: 100%;
    height: 100%;
}

.change-color td {
    background-color: pink;
    border-color: plum;
}

.change-color .color {
    background-color: #fff;
}

td {
    border: 0.5px solid grey;
    width: 10px;
    height: 10px;
}

.color {
    background-color: #bf8eee;
}